1) Write a Python program to print "Hello Python"

In [ ]:
print("Hello Python")

Hello Python

2) Write a Python program to do arithmetical operations addition and division.

In [ ]:
def addition(n1,n2):
  n3 = n1+n2
  return n3

addition(8,15)

23

In [ ]:
def division(n1,n2):
  if n2 == 0:
    print("Enter a valid denominator, cannot divide by zero!")
  n3 = n1/n2
  return n3

division(8,3)

2.6666666666666665

3) Write a Python program to find the area of a triangle.

In [ ]:
def triangle(b,h):
  a = 0.5 *b*h
  print(f"Area of the triangle: {a}")

triangle(4,5)

Area of the triangle: 10.0

4) Write a Python program to swap two variables using temp.

In [ ]:
def swa(a,b):
  print(f"Before Swap: {a,b}")
  temp = a
  a = b
  b = temp
  print(f"After Swap: {a,b}")

swa(5,6)

Before Swap: (5, 6)
After Swap: (6, 5)

5) Write a Python program to generate a random number.

In [ ]:
import random
def rand():
  return random.randint(1,100)

rand()

10

6) Write a Python program to convert kilometers to miles.

In [ ]:
def conv(k):
  c = 0.621371 #1 km = 0.621371 miles
  m = c * k
  return m

conv(102)

63.379842000000004

7) Write a Python program to convert Celsius to Fahrenheit.

In [ ]:
def tem(c):
  f = (c * 9/5) + 32 # Conversion formula: Fahrenheit = (Celsius * 9/5) + 32
  return f

tem(102)

215.6

8) Write a Python program to display calendar.

In [ ]:
import calendar
year = int(input("Enter year: "))
month = int(input("Enter month: "))
cal = calendar.month(year, month)
print(cal)

Enter year: 2024
Enter month: 12
   December 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

9) Write a Python program to swap two variables without temp variable.

In [ ]:
def swa(a,b):
  print(f"Before Swap: {a,b}")
  a, b= b, a
  print(f"After Swap: {a,b}")

swa(5,6)

Before Swap: (5, 6)
After Swap: (6, 5)

10) Write a Python Program to Check if a Number is Positive, Negative or Zero.

In [ ]:
def check(num):
  if num > 0:
    print("Positive")
  elif num == 0:
    print("Zero")
  else:
    print("Negative")

check(-5)

Negative

11) Write a Python Program to Check if a Number is Odd or Even.

In [ ]:
def chec(n):
  if n%2 == 0:
    print("Even")
  else:
    print("Odd")

chec(5)

Odd

12) Write a Python Program to Check Leap Year.

In [ ]:
def is_leap_year(year):
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

is_leap_year(2024)

True

13) Write a Python Program to Check Prime Number.

In [ ]:
def prime(n):
  if n <=1:
    return False
  for i in range(2,n):
    if n%i==0:
      return False #If divisible, it's not prime
  return True #No divisors found, it's prime

prime(17)

True

14) Write a Python Program to Print all Prime Numbers in an Interval of 1-10.

In [ ]:
def pri(start, end):
    for num in range(start, end + 1):
        if num > 1 and all(num % i != 0 for i in range(2, num)):
            print(num, end=" ")

pri(1, 10)

2 3 5 7

In [ ]:
# Function to check if a number is prime
def prime(n):
    if n <= 1:
        return False  # Numbers less than or equal to 1 are not prime
    for i in range(2, n):
        if n % i == 0:
            return False  # If divisible, it's not prime
    return True  # No divisors found, it's prime

# Function to print all prime numbers in a range
def print_primes(start, end):
    for num in range(start, end + 1):
        if prime(num):  # Use the prime function to check
            print(num, end=" ")

# Example usage
print_primes(1, 10)

2 3 5 7

15) Write a Python Program to Find the Factorial of a Number.

In [ ]:
def fact(n):
  a = 1
  for i in range(1, n+1):
      a = a*i
  return a

fact(7)

5040

In [ ]:
def fact(n):
  a = 1
  for i in range(2, n+1):
      a = a*i
  return a

fact(7)

5040

16) Write a Python Program to Display the multiplication Table.

In [ ]:
def table(num):
  for i in range(1, 11):
    print(f"{num} X {i} = {num*i}")

table(12)

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

17) Write a Python Program to Print the Fibonacci sequence.

In [ ]:
def fibonacci(n):
    a, b = 0, 1
    for i in range(n):
        print(a, end=" ")
        a, b = b, a + b

fibonacci(12)

0 1 1 2 3 5 8 13 21 34 55 89

18) Write a Python Program to Check Armstrong Number?

In [ ]:
def is_arm(num):
    total = sum(int(i) ** len(str(num)) for i in str(num))
    return total == num

is_arm(153)

True

19) Write a Python Program to Find Armstrong Number in an Interval.

In [ ]:
def is_armstrong_number(num):
    total = sum(int(i) ** len(str(num)) for i in str(num))
    return total == num

# Function to find Armstrong numbers in an interval
def armstrong_in_interval(start, end):
    for num in range(start, end + 1):
        if is_armstrong_number(num):
            print(num, end=" ")

armstrong_in_interval(1, 500)

1 2 3 4 5 6 7 8 9 153 370 371 407

20) Write a Python Program to Find the Sum of Natural Numbers.

In [ ]:
def sum_of_natural_numbers(n):
    return sum(range(1, n+1))

sum_of_natural_numbers(10)

55

21) Write a Python Program to Convert Decimal to Binary, Octal and Hexadecimal.

In [ ]:
def convert_decimal(num):
    binary = bin(num)[2:]  # Convert decimal to binary and remove '0b' prefix
    octal = oct(num)[2:]   # Convert decimal to octal and remove '0o' prefix
    hexadecimal = hex(num)[2:].upper()  # Convert decimal to hexadecimal and remove '0x' prefix
    return binary, octal, hexadecimal

binary, octal, hexadecimal = convert_decimal(25)
print("Binary:", binary)
print("Octal:", octal)
print("Hexadecimal:", hexadecimal)

Binary: 11001
Octal: 31
Hexadecimal: 19

22) Write a Python Program To Find ASCII value of a character.

In [ ]:
def ascii_value(c):
    return ord(c)

ascii_value('A')

65

23) Write a Python Program to Make a Simple Calculator with 4 basic mathematical
operations.

In [ ]:
def calculator(a, b, operation):
    if operation == 'add':
        return a + b
    elif operation == 'subtract':
        return a - b
    elif operation == 'multiply':
        return a * b
    elif operation == 'divide':
        if b != 0:
            return a / b
        else:
            return "Cannot divide by zero"
    else:
        return "Invalid operation"

print(calculator(10, 5, 'add'))
print(calculator(10, 5, 'subtract'))
print(calculator(10, 5, 'multiply'))
print(calculator(10, 5, 'divide'))

15
5
50
2.0

24) Write a Python Program to Find Factorial of Number Using Recursion.

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

factorial(5)

120

25) Write a Python Program to calculate the natural logarithm of any number.

In [ ]:
import math
def logg(n):
  m = math.log(n)
  return m

logg(10)

2.302585092994046

26) Write a Python Program for cube sum of first n natural numbers?

In [ ]:
def cube_sum(n):
    return sum(i**3 for i in range(1, n + 1))

cube_sum(5)

225

In [ ]:
def cube_sum(n):
    return [i**3 for i in range(1, n + 1)]

cube_sum(5)

[1, 8, 27, 64, 125]

27) Write a Python Program for array rotation.

In [ ]:
def rot(arr,k):
    return arr[k:] + arr[:k]

rot([1,2,3,4,5], 2)

[3, 4, 5, 1, 2]

28) Write a Python Program to Split the array and add the first part to the end?

In [ ]:
def split_and_add(arr, k):
    return arr[k:] + arr[:k]

split_and_add([1, 2, 3, 4, 5], 2)

[3, 4, 5, 1, 2]

29) Write a Python Program to Sort Words in Alphabetic Order.

In [ ]:
def order(words):
  n = words.split()
  n.sort()
  return " ".join(n)

order("bala is a dhoni fan")

'a bala dhoni fan is'

30) Write a Python Program to Remove Punctuation From a String.

In [ ]:
import string
def strng(st):
   new = str.maketrans('', '', string.punctuation)
    # Use the translate function to remove punctuation
   return st.translate(new)

strng("a, beautiful morning!!")

'a beautiful morning'

31) Write a Python program to determine whether the given number is a Harshad
Number.

 A number is a Harshad Number if it is divisible by the sum of its digits

In [ ]:
def is_harshad_number(num):
    digit_sum = sum(int(i) for i in str(num))
    return num % digit_sum == 0

is_harshad_number(23)

False

32) Write a Python program to Multiply all numbers in the list.

In [ ]:
def mul(nums):
    r = 1
    for i in nums:
        r  = r * i
    return r

mul([1,2,3,4])

24

33) Write a Python program to find smallest number in a list.

In [ ]:
def small(num):
  r = min(num)
  return r

small([10,2,3,55,6,4])

2

34) Write a Python program to find largest number in a list.

In [ ]:
def big(num):
  r = max(num)
  return r

big([10,2,3,55,6,4])

55

35) Write a Python program to find second largest number in a list.

In [ ]:
def second_largest(lst):
    lst = list(set(lst))
    lst.sort()
    return lst[-2]

second_largest([10, 20, 4, 45, 99, 20, 100])

99

36) Write a Python program to find N largest elements from a list.

In [ ]:
def n_largest_elements(numbers, n):
    return sorted(numbers, reverse=True)[:n]

n_largest_elements([10, 20, 4, 45, 99, 77, 12], 3)

[99, 77, 45]

37) Write a Python program to print even numbers in a list.

In [ ]:
def even(numm):
    even_numbers = []
    for i in numm:
        if i % 2 == 0:
            even_numbers.append(i)
    return even_numbers

print(even([2, 4, 5, 6, 7, 8]))

[2, 4, 6, 8]

In [ ]:
def rem(lst):
    return [i for i in lst if i%2 == 0]  # using list comprehension

rem([1,2,3,4,5,6,7,8,10])

[2, 4, 6, 8, 10]

38) Write a Python program to print odd numbers in a List.

In [ ]:
def even(numm):
    even_numbers = []
    for i in numm:
        if i % 2 != 0:
            even_numbers.append(i)
    return even_numbers

print(even([2, 4, 5, 6, 7, 8]))

[5, 7]

In [ ]:
def rem(lst):
    return [i for i in lst if i%2 != 0]  # using list comprehension

rem([1,2,3,4,5,6,7,8,10])

[1, 3, 5, 7]

39) Write a Python program to Remove empty List from List.

In [ ]:
def remove_empty_lists(lst):
    return [i for i in lst if i != []]  # Keep only non-empty lists

remove_empty_lists([1, [], [2, 3], [], 4, [], [5]])

[1, [2, 3], 4, [5]]

40) Write a Python program to Cloning or Copying a list.

In [ ]:
def clone(data):
  org = data[:] #using slice
  return org

clone([1,2,3,4,5])

[1, 2, 3, 4, 5]

41) Write a Python program to Count occurrences of an element in a list.

In [ ]:
from collections import Counter
def ran(lst):
  r = Counter(lst)
  return r

ran([1,1,2,2,3,4,5])

Counter({1: 2, 2: 2, 3: 1, 4: 1, 5: 1})

42) Write a Python program to find words which are greater than given length k.

In [ ]:
def find_long_words(words, k):
    return [i for i in words if len(i) > k]

find_long_words(["apple", "banana", "kiwi", "cherry", "mango"], 5)

['banana', 'cherry']

43) Write a Python program for removing ith character from a string

In [ ]:
def remove_ith_char(string, i):
    return string[:i] + string[i+1:]  # Slices the string before and after the i-th index

remove_ith_char("python", 2)

'pyhon'

In [ ]:
string = "Bala"
i=2
string[i:]

'la'

44) Write a Python program to split and join a string.

In [ ]:
def split_and_join(string):
    words = string.split()  # Splits the string into a list of words
    return "-".join(words)  # Joins the words using the specified delimiter

split_and_join("Python is amazing")

'Python-is-amazing'

45) Write a Python program to check if a given string is binary string or not.

In [ ]:
def is_binary_string(string):
    return all(i in '01' for i in string)  # Check if all characters are either '0' or '1'

is_binary_string("110210")

False

46) Write a Python program to find uncommon words from two Strings.

In [ ]:
def uncommon_words(s1, s2):

    set1 = set(s1.split())
    set2 = set(s2.split())

    return set1.symmetric_difference(set2)

uncommon_words("Bala is a good boy", "Bala is a boy")

{'good'}

47) Write a Python Program to check if a string contains any special character.

In [ ]:
import string

# Function to check if string contains special characters
def contains_special_characters(s):
    special_characters = string.punctuation  # All special characters
    return any(i in special_characters for i in s)

contains_special_characters("@World")

True

48) Write a Python program to Extract Unique dictionary values.

In [ ]:
def uni(dic):
  vari = list(set(dic.values()))
  return vari

uni({
    'A' : 10,
    'B' : 10,
    'C' : 20,
})

[10, 20]

In [ ]:
def uni(dic):
  vari = set(dic.values())
  return vari

uni({
    'A' : 10,
    'B' : 10,
    'C' : 20,
})

{10, 20}

In [ ]:
def uni(dic):
  vari = list(set(dic.keys()))
  return vari

uni({
    'A' : 10,
    'A' : 10,
    'C' : 20,
})

['C', 'A']

49) Write a Python program to find the sum of all items in a dictionary.

In [ ]:
def uni(dic):
  vari = sum(dic.values())
  return vari

uni({
    'A' : 10,
    'B' : 10,
    'C' : 20,
})

40

50) Write a Python program to Merging two Dictionaries.

In [ ]:
def merge_dictionaries(dict1, dict2):
    merged_dict = {**dict1, **dict2}  # Merging dictionaries using unpacking
    return merged_dict

merge_dictionaries({'a': 10, 'b': 20}, {'c': 30, 'd': 40})

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

51) Write a Python program to convert key-values list to flat dictionary.

In [ ]:
def di(lst):
  r = dict(lst)
  return r

di([('a', 1), ('b', 2), ('c', 3)])

{'a': 1, 'b': 2, 'c': 3}

52) Write a Python program to sort Python Dictionaries by Key or Value.

In [ ]:
def sort_by_key(d):
    return dict(sorted(d.items()))

sort_by_key({'apple': 3, 'vanana': 1, 'cherry': 2, 'date': 4})

{'apple': 3, 'cherry': 2, 'date': 4, 'vanana': 1}

In [ ]:
def sort_by_values(d):
    return dict(sorted(d.items(), key=lambda item: item[1]))

sort_by_values({'apple': 3, 'vanana': 1, 'cherry': 2, 'date': 4})

{'vanana': 1, 'cherry': 2, 'apple': 3, 'date': 4}

53) Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array.
The element value in the i-th row and j-th column of the array should be i*j.
 Note: i=0,1.., X-1; j=0,1,Y-1.

 Example Suppose the following inputs are given to the program:

 3,5

 Then, the output of the program should be:

 [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
def generate_2d_array(X, Y):
    # Generating the 2D array
    return [[i * j for j in range(Y)] for i in range(X)]

generate_2d_array(3, 5)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
def generate_1d_array(Y):
    # Generating the 1D array
    return [j for j in range(Y)]

generate_1d_array(5)

[0, 1, 2, 3, 4]

54)  Write a program that accepts a comma separated sequence of words as input and
 prints the words in a comma-separated sequence after sorting them alphabetically.

In [ ]:
def sort_words():
    words = input("Enter a comma-separated sequence of words: ")
    # Split, strip spaces, sort, and join back into a comma-separated string
    sorted_words = ','.join(sorted(word.strip() for word in words.split(',')))
    print("Sorted words:", sorted_words)

sort_words()

Enter a comma-separated sequence of words: bala, bill, abraham, ashok
Sorted words: abraham,ashok,bala,bill

55) Write a program that accepts a sequence of whitespace separated words as input
 and prints the words after removing all duplicate words and sorting them
 alphanumerically.

In [ ]:
def remove_duplicates_and_sort():
    words = input("Enter a sequence of whitespace separated words: ")
    unique_words = sorted(set(words.split()))
    return ' '.join(unique_words)

remove_duplicates_and_sort()

Enter a sequence of whitespace separated words: hello world and practice makes perfect and hello world again

'again and hello makes perfect practice world'

In [ ]:
def remove_duplicates_and_sort():
    words = input("Enter a sequence of whitespace separated words: ")
    unique_words = sorted(set(words.split()))
    return unique_words

remove_duplicates_and_sort()

Enter a sequence of whitespace separated words: hello world and practice makes perfect and hello world again

['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

56)  Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program:
 hello world! 123

 Then, the output should be:

 LETTERS 10

 DIGITS 3

In [ ]:
def count_letters_and_digits():
    sentence = input("Enter a sentence: ")
    letters = sum(i.isalpha() for i in sentence)
    digits = sum(i.isdigit() for i in sentence)
    print(f"LETTERS {letters}\nDIGITS {digits}")

count_letters_and_digits()

Enter a sentence: hey hi 1 and 2 3
LETTERS 8
DIGITS 3

57)  Define a class with a generator which can iterate the numbers, which are divisible by
 7, between a given range 0 and n.

In [ ]:
class seven:
  def __init__(self, n):
     self.n = n

  def calculate(self):
    return [i for i in range(0, self.n+1, 7)]

s = seven(35)
s.calculate()

[0, 7, 14, 21, 28, 35]

In [ ]:
def cal(n):
  return [i for i in range(0, n+1, 7)]

cal(50)

[0, 7, 14, 21, 28, 35, 42, 49]

58)  Define a class Person and its two child classes: Male and Female. All classes have a
 method "getGender" which can print "Male" for Male class and "Female" for Female
 class.

In [ ]:
class Person:
    def getGender(self):
        pass

class Male(Person):
    def getGender(self):
        print("Male")

class Female(Person):
    def getGender(self):
        print("Female")

male = Male()
female = Female()

male.getGender()
female.getGender()

Male
Female

59) Write a program to compute the frequency of the words from the input. The output
 should output after sorting the key alphanumerically

In [ ]:
from collections import Counter
def sorty(n):
  new = n.split()
  coun = Counter(new)
  v = sorted(coun.items())
  return v

sorty("My name is Bala and Bala is a Dhoni fan")

[('Bala', 2),
 ('Dhoni', 1),
 ('My', 1),
 ('a', 1),
 ('and', 1),
 ('fan', 1),
 ('is', 2),
 ('name', 1)]

60)  Please write a program to generate all sentences where subject is in ["I", "You"] and
 verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].

In [ ]:
def generate_sentences():
    subjects = ["I", "You"]
    verbs = ["Play", "Love"]
    objects = ["Hockey", "Football"]
    sentences = [f"{i} {j} {k}" for i in subjects for j in verbs for k in objects]
    return sentences

generate_sentences()

['I Play Hockey',
 'I Play Football',
 'I Love Hockey',
 'I Love Football',
 'You Play Hockey',
 'You Play Football',
 'You Love Hockey',
 'You Love Football']

61) Write a python program for a given positive integer N, find the closest number P to N which can be written as 2P.

In [ ]:
def limitt(n):
  l = 2 ** (n.bit_length() - 1)
  h = 2 ** n.bit_length()

  if abs(l - n) <= abs(h - n):
        return l
  else:
        return h

limitt(20)

16

62) Using Python programming for a given binary array, return the maximum number of consecutive ones in the array.

In [ ]:
def max_consecutive_ones(arr):
    max_count = 0  # To store the maximum number of consecutive ones
    current_count = 0  # To count the current streak of ones

    for i in arr:
        if i == 1:  # If the element is 1, increase the current count
            current_count += 1
            max_count = max(max_count, current_count)  # Update the maximum count
        else:
            current_count = 0  # Reset the current count when 0 is encountered

    return max_count
max_consecutive_ones([1, 1, 0, 1, 1, 1, 1, 1, 0, 1])

5

63) Write a python program to create a polygon area calculator using classes and objects.

In [ ]:
import math
class Polygon():
    def __init__(self):
      pass

class Rectangle(Polygon):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

class Triangle(Polygon):
    def __init__(self, base, height):
        self.base = base
        self.height = height

    def area(self):
        return 0.5 * self.base * self.height

class Circle(Polygon):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

rectangle = Rectangle(5, 3)  # Width 5, Height 3
triangle = Triangle(4, 6)    # Base 4, Height 6
circle = Circle(7)

print(rectangle.area())
print(triangle.area())
print(circle.area())

15
12.0
153.93804002589985

64) Write a python program print the reverse of a digit without using the reverse() function.

In [ ]:
def rev(r):
  n = int(str(r)[::-1])
  return n

rev(1234)

4321

65) Given two arrays, find the median of the resulting array when the two arrays are sorted and merged together.

A = [4,3,6,2,6,7,9,2,14,54,7,2]

B = [4,5,3,5,7,8,2,2,8,9,3,5]

In [ ]:
def find_median_of_arrays(arr1, arr2):
    merged_array = sorted(arr1 + arr2)

    # Find the median
    n = len(merged_array)
    if n % 2 == 1:  # Odd length
        return merged_array[n // 2]
    else:  # Even length
        return (merged_array[n // 2 - 1] + merged_array[n // 2]) / 2

find_median_of_arrays([4, 3, 6, 1], [4, 5, 3, 5])

4.0

66) Please write a program using generator to print the numbers which can be divisible
 by 5 and 7 between 0 and n in comma separated form while n is input by console.
 Example:
 If the following n is given as input to the program:
 100
 Then, the output of the program should be:
 0,35,70

In [ ]:
def divisible_by_5_and_7(n):
    for i in range(0, n + 1):  # Iterate from 0 to n
        if i % 5 == 0 and i % 7 == 0:
            yield i  # Yield the number if divisible by both 5 and 7

# Input from user
n = int(input("Enter a number: "))
# Using the generator to collect results
result = list(divisible_by_5_and_7(n))
result

Enter a number: 100

[0, 35, 70]